<div style="padding: 20px;">
  <!-- <h1 style="color: blue">Crud</h1> -->
  <h3>{{title}}</h3>
  <nav>
    <!-- <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a> -->
    <a routerLink="pessoa" class="btn btn-primary active" role="button" routerLinkActive="active" style="margin-right: 16px;">Pessoas</a>
    <a routerLink="addpessoa" class="btn btn-primary active" role="button" routerLinkActive="active" style="margin-right:16px;">Adicionar</a>
    <a routerLink="findbyid" class="btn btn-primary active" role="button" routerLinkActive="active">Pesquisar</a>
  </nav><hr>
  <router-outlet></router-outlet>
</div>