<div class="card">
  <div class="card-header">
    <h3>Cadastro de Pessoa</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group" [formGroup]="angForm" novalidate>
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]="pessoa.nome" name="nome" required formControlName="name">
          </div>
    
          <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['name'].errors.required">
              <small>Nome é obrigatório.</small>
            </div>
          </div>

          <div class="form-group" [formGroup]="angForm" novalidate>
            <label for="cpf">Cpf</label>
            <input type="text" class="form-control" id="cpf" required [(ngModel)]="pessoa.cpf" name="cpf" required formControlName="cpf">
          </div>

          <div *ngIf="angForm.controls['cpf'].invalid && (angForm.controls['cpf'].dirty || angForm.controls['cpf'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['cpf'].errors.required">
              <small>Cpf é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="datanascimento">Data de Nascimento</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dataNascimento" id="dataNascimento" [(ngModel)]="pessoa.dataNascimento" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="peso">Peso</label>
            <input type="number" class="form-control" id="peso" required [(ngModel)]="pessoa.peso" name="peso">
          </div>

          <div class="form-group" [formGroup]="angForm" novalidate>
            <label for="uf">Estado</label>
             <select formControlName="uf" class="form-control" required [(ngModel)]="pessoa.uf" name="uf" id="uf" (ngModelChange)="onTestGet()">
              <option *ngFor="let value of estados" [ngValue]="value.sigla">{{value.nome}}</option>
            </select> 
          </div>

          <div *ngIf="angForm.controls['uf'].invalid && (angForm.controls['uf'].dirty || angForm.controls['uf'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['uf'].errors.required">
              <small>Estado é obrigatório.</small>
            </div>
          </div>
          <!-- no botão abaixo acrescentar: [disabled]="angForm.pristine || angForm.invalid"  -->
          <button type="submit" 
          class="btn btn-success" [disabled]="angForm.pristine || angForm.invalid" id="salvar">Salvar</button>
        </form>
      </div>

      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newPessoa()">Add</button>
      </div>
    </div>
  </div>
</div>